@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap");
/* line 3, ../../../../../institucional.Toth/scss/_main.scss */
* {
  padding: 0px;
  margin: 0px;
}

/* line 8, ../../../../../institucional.Toth/scss/_main.scss */
body {
  font-family: 'Outfit';
}

/* line 12, ../../../../../institucional.Toth/scss/_main.scss */
#navBar {
  font-family: 'Bakbak';
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* line 18, ../../../../../institucional.Toth/scss/_main.scss */
#navBar a {
  color: #2c81d7;
  font-size: 20px;
  font-weight: 600;
}

/* line 21, ../../../../../institucional.Toth/scss/_main.scss */
#navBar li {
  margin-left: 20px;
}

/* line 26, ../../../../../institucional.Toth/scss/_main.scss */
.portadaIndex {
  height: 72vh;
  background-image: url("../imagenes/portada.jpg");
  background-position: center;
  background-size: cover;
  background-color: #323232;
  background-blend-mode: soft-light;
}

@media all and (max-width: 768px) {
  /* line 26, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaIndex {
    height: 42vh;
    background-image: url("../imagenes/portadamobile.jpg");
  }
}

/* line 37, ../../../../../institucional.Toth/scss/_main.scss */
.portadaIndex h1 {
  position: relative;
  color: #fff;
  font-size: 130px;
  font-weight: 600;
}

@media all and (max-width: 1400px) {
  /* line 37, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaIndex h1 {
    font-size: 90px;
  }
}

@media all and (max-width: 992px) {
  /* line 37, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaIndex h1 {
    font-size: 70px;
  }
}

@media all and (max-width: 768px) {
  /* line 37, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaIndex h1 {
    font-size: 55px;
  }
}

@media all and (max-width: 576px) {
  /* line 37, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaIndex h1 {
    font-size: 35px;
  }
}

/* line 55, ../../../../../institucional.Toth/scss/_main.scss */
.contenedorFotos {
  background-color: #d3d2d2;
}

/* line 57, ../../../../../institucional.Toth/scss/_main.scss */
.contenedorFotos h2 {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

@media all and (max-width: 576px) {
  /* line 57, ../../../../../institucional.Toth/scss/_main.scss */
  .contenedorFotos h2 {
    font-size: 18px;
  }
}

@media all and (max-width: 430px) {
  /* line 57, ../../../../../institucional.Toth/scss/_main.scss */
  .contenedorFotos h2 {
    font-size: 14px;
  }
}

/* line 68, ../../../../../institucional.Toth/scss/_main.scss */
.contenedorFotos img {
  border-radius: 1.5rem;
}

/* line 74, ../../../../../institucional.Toth/scss/_main.scss */
.transform:hover {
  transform: scale(1.1);
}

/* line 80, ../../../../../institucional.Toth/scss/_main.scss */
.transition:hover {
  transition: all 400ms ease-in-out;
}

/* line 85, ../../../../../institucional.Toth/scss/_main.scss */
.destacados {
  background-color: #d3d2d2;
}

/* line 87, ../../../../../institucional.Toth/scss/_main.scss */
.destacados h3 {
  color: #000;
  font-size: 32px;
  font-weight: 400;
}

@media all and (max-width: 576px) {
  /* line 87, ../../../../../institucional.Toth/scss/_main.scss */
  .destacados h3 {
    font-size: 26px;
  }
}

/* line 93, ../../../../../institucional.Toth/scss/_main.scss */
.destacados h4 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

/* line 96, ../../../../../institucional.Toth/scss/_main.scss */
.destacados .btn {
  background-color: #2e2e2e;
  color: white;
}

/* line 99, ../../../../../institucional.Toth/scss/_main.scss */
.destacados .btn:hover {
  transform: scale(1.1);
  color: white;
  background-color: #2c81d7;
}

/* line 107, ../../../../../institucional.Toth/scss/_main.scss */
.portadaConstruccion {
  height: 72vh;
  background-image: url("../imagenes/profesionales.jpg");
  background-position: center;
  object-fit: cover;
}

@media all and (max-width: 768px) {
  /* line 107, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaConstruccion {
    height: 42vh;
    background-image: url("../imagenes/profesionalesmobile.jpg");
  }
}

/* line 118, ../../../../../institucional.Toth/scss/_main.scss */
.construccion {
  background-color: #d3d2d2;
}

/* line 121, ../../../../../institucional.Toth/scss/_main.scss */
.construccion .galeriaProductos h3 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

/* line 124, ../../../../../institucional.Toth/scss/_main.scss */
.construccion .galeriaProductos p {
  color: #000;
  font-size: 17px;
  font-weight: 200;
}

/* line 130, ../../../../../institucional.Toth/scss/_main.scss */
.portadaJardin {
  height: 72vh;
  background-size: cover;
  background-image: url("../imagenes/sujardin.jpg");
  background-position: center;
  object-fit: cover;
}

@media all and (max-width: 768px) {
  /* line 130, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaJardin {
    height: 42vh;
    background-image: url("../imagenes/sujardinmobile.jpg");
  }
}

/* line 142, ../../../../../institucional.Toth/scss/_main.scss */
.jardin {
  background-color: #d3d2d2;
}

/* line 145, ../../../../../institucional.Toth/scss/_main.scss */
.jardin .galeriaProductos h3 {
  color: #000;
  font-size: 25px;
  font-weight: 400;
}

/* line 148, ../../../../../institucional.Toth/scss/_main.scss */
.jardin .galeriaProductos p {
  color: #000;
  font-size: 17px;
  font-weight: 200;
}

/* line 151, ../../../../../institucional.Toth/scss/_main.scss */
.jardin .galeriaProductos img {
  max-width: 583px;
}

/* line 157, ../../../../../institucional.Toth/scss/_main.scss */
.portadaEnvios {
  height: 72vh;
  background-image: url("../imagenes/envios.jpg");
  background-position: center;
  background-size: cover;
}

@media all and (max-width: 768px) {
  /* line 157, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaEnvios {
    height: 42vh;
    background-image: url("../imagenes/enviosmobile.jpg");
  }
}

/* line 168, ../../../../../institucional.Toth/scss/_main.scss */
.envios {
  background-color: #d3d2d2;
}

/* line 170, ../../../../../institucional.Toth/scss/_main.scss */
.envios .descripcionEnvios {
  line-height: 30px;
}

/* line 172, ../../../../../institucional.Toth/scss/_main.scss */
.envios .descripcionEnvios p {
  color: #000;
  font-size: 20px;
  font-weight: 200;
}

/* line 175, ../../../../../institucional.Toth/scss/_main.scss */
.envios .descripcionEnvios span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* line 179, ../../../../../institucional.Toth/scss/_main.scss */
.envios .carousel {
  max-width: 583px;
}

/* line 184, ../../../../../institucional.Toth/scss/_main.scss */
.portadaNosotros {
  height: 72vh;
  background-image: url("../imagenes/sobrenosotros.jpg");
  background-position: center;
  background-size: cover;
  background-color: #323232;
  background-blend-mode: soft-light;
}

@media all and (max-width: 768px) {
  /* line 184, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaNosotros {
    height: 42vh;
    background-image: url("../imagenes/sobrenosotrosmobile.jpg");
  }
}

/* line 195, ../../../../../institucional.Toth/scss/_main.scss */
.portadaNosotros .textoNosotrosPortada {
  line-height: 10px;
  padding: 160px;
}

@media all and (max-width: 768px) {
  /* line 195, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaNosotros .textoNosotrosPortada {
    padding: 80px;
  }
}

/* line 202, ../../../../../institucional.Toth/scss/_main.scss */
.portadaNosotros h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}

@media all and (max-width: 768px) {
  /* line 202, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaNosotros h3 {
    font-size: 25px;
  }
}

/* line 209, ../../../../../institucional.Toth/scss/_main.scss */
.portadaNosotros p {
  position: relative;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}

@media all and (max-width: 768px) {
  /* line 209, ../../../../../institucional.Toth/scss/_main.scss */
  .portadaNosotros p {
    font-size: 15px;
  }
}

/* line 218, ../../../../../institucional.Toth/scss/_main.scss */
.nosotros {
  background-color: #d3d2d2;
}

/* line 221, ../../../../../institucional.Toth/scss/_main.scss */
.nosotros .nosotrosDescripcion h3 {
  color: #000;
  font-size: 30px;
  font-weight: 400;
}

/* line 224, ../../../../../institucional.Toth/scss/_main.scss */
.nosotros .nosotrosDescripcion h4 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* line 227, ../../../../../institucional.Toth/scss/_main.scss */
.nosotros .nosotrosDescripcion p {
  color: #000;
  font-size: 20px;
  font-weight: 200;
}

/* line 233, ../../../../../institucional.Toth/scss/_main.scss */
.contacto {
  background-color: #d3d2d2;
}

/* line 235, ../../../../../institucional.Toth/scss/_main.scss */
.contacto p {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* line 238, ../../../../../institucional.Toth/scss/_main.scss */
.contacto .transform2:hover {
  transform: scale(1.1);
  background-color: #2c81d7;
  color: white;
}

/* line 243, ../../../../../institucional.Toth/scss/_main.scss */
.contacto input {
  width: 100%;
  height: 60px;
}

/* line 247, ../../../../../institucional.Toth/scss/_main.scss */
.contacto textarea {
  height: 140px;
}

/* line 250, ../../../../../institucional.Toth/scss/_main.scss */
.contacto .boton {
  width: 150px;
  height: 50px;
  background-color: white;
  color: black;
}

/* line 258, ../../../../../institucional.Toth/scss/_main.scss */
.footer {
  background-color: #2c81d7;
}

/* line 260, ../../../../../institucional.Toth/scss/_main.scss */
.footer .box1 {
  width: auto;
}

/* line 263, ../../../../../institucional.Toth/scss/_main.scss */
.footer .box3 {
  color: white;
}

/* line 266, ../../../../../institucional.Toth/scss/_main.scss */
.footer .box3 .transform2:hover {
  transform: scale(1.2);
}

/* line 271, ../../../../../institucional.Toth/scss/_main.scss */
.footer .box3 .transition2:hover {
  transition: all 400ms ease-in-out;
}

/* line 275, ../../../../../institucional.Toth/scss/_main.scss */
.footer .box3 a {
  color: white;
}

/* line 279, ../../../../../institucional.Toth/scss/_main.scss */
.footer span {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media all and (max-width: 768px) {
  /* line 279, ../../../../../institucional.Toth/scss/_main.scss */
  .footer span {
    font-size: 14px;
  }
}

/* line 285, ../../../../../institucional.Toth/scss/_main.scss */
.footer p {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
  line-height: 10px;
}

@media all and (max-width: 768px) {
  /* line 285, ../../../../../institucional.Toth/scss/_main.scss */
  .footer p {
    font-size: 9px;
  }
}

/*# sourceMappingURL=estilos.css.map */