@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@300&display=swap');

*{
    padding:0px;
    margin:0px;
}

body{
    font-family:'Lato';
}

#navBar{
    font-family:'Bakbak';
    a{
       @include colorMedidas($azultoth,20px,500);
    }
    li{
        margin-left: 20px;
    }
}

.fotoPortada{
        height: 72vh;
        background-image: url('../imagenes/portada.jpg');
        background-position: center;
        background-size: cover;
        background-color:rgb(50, 50, 50);
        background-blend-mode: soft-light;
        div{ 
            h1{
                position: absolute;
                color: white;
            }
        }
}