@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@300&display=swap');

*{
    padding:0px;
    margin:0px;
}

body{
    font-family:'Lato';
}

#navBar{
    font-family:'Bakbak';
    a{
       @include colorMedidas($azultoth,20px,500);
    }
    li{
        margin-left: 20px;
    }
}

.fotoPortada{
    div{
        margin-top: 100px;
        background-image: url('../imagenes/portada.jpg');  
    }
}